---
import MapPopupTemplate from "@/components/MapPopupTemplate.astro";

import "maplibre-gl/dist/maplibre-gl.css";

const { year } = Astro.props;
---

<div id="map" class="h-full" data-year={year}></div>

<MapPopupTemplate />

<script>
  import maplibregl from "maplibre-gl";

  const year = document.getElementById("map")!.dataset.year;

  const map = new maplibregl.Map({
    container: "map",
    style: "https://tiles.openfreemap.org/styles/positron",
    center: [5.4025, 51.2194],
    zoom: 7,
  });

  map.on("load", async () => {
    map.addSource("teams", {
      type: "geojson",
      data: `/data/${year}-teams.json`,
    });

    map.addSource("events", {
      type: "geojson",
      data: `/data/${year}-events.json`,
    });

    map.addLayer({
      id: "teams-layer",
      type: "circle",
      source: "teams",
      paint: {
        "circle-radius": 6,
        "circle-color": "#FF5722",
        "circle-stroke-width": 2,
        "circle-stroke-color": "#FFFFFF",
      },
    });

    map.addLayer({
      id: "events-layer",
      type: "circle",
      source: "events",
      paint: {
        "circle-radius": 8,
        "circle-color": "#3F51B5",
        "circle-stroke-width": 2,
        "circle-stroke-color": "#FFFFFF",
      },
    });

    map.on("click", "teams-layer", (e) => {
      if (!e.features || !e.features.length) return;

      // Get coordinates and properties from the clicked feature
      const geometry = e.features[0].geometry;

      if (geometry.type !== "Point") return;

      const coordinates = geometry.coordinates.slice() as [number, number];
      const properties = e.features[0].properties;

      // Ensure popup appears correctly even if the map is wrapped
      while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
        coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
      }

      const template = document.getElementById(
        "popup-template",
      ) as HTMLTemplateElement;
      const clone = template.content.cloneNode(true) as HTMLElement;

      clone.querySelector(".card-team-name")!.textContent =
        properties?.name || "N/A";

      clone.querySelector(".card-team-number")!.textContent =
        properties?.number || "N/A";

      clone.querySelector(".card-left-label")!.textContent = "Organization";
      clone.querySelector(".card-left-value")!.textContent =
        properties?.org || "N/A";

      clone.querySelector(".card-right-label")!.textContent = "Rookie Year";
      clone.querySelector(".card-right-value")!.textContent =
        properties?.rookieYear || "N/A";

      clone
        .querySelector(".card-view-details")!
        .setAttribute(
          "href",
          `https://ftc-events.firstinspires.org/${year}/team/${properties?.number}`,
        );

      // Create the popup
      new maplibregl.Popup({
        closeButton: false,
        closeOnClick: true,
        className: "popup",
        maxWidth: "none",
      })
        .setLngLat(coordinates)
        .setDOMContent(clone)
        .addTo(map);
    });

    map.on("click", "events-layer", (e) => {
      if (!e.features || !e.features.length) return;

      // Get coordinates and properties from the clicked feature
      const geometry = e.features[0].geometry;

      if (geometry.type !== "Point") return;

      const coordinates = geometry.coordinates.slice() as [number, number];
      const properties = e.features[0].properties;

      // Ensure popup appears correctly even if the map is wrapped
      while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
        coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
      }

      const template = document.getElementById(
        "popup-template",
      ) as HTMLTemplateElement;
      const clone = template.content.cloneNode(true) as HTMLElement;

      clone.querySelector(".card-team-name")!.textContent =
        properties?.name || "N/A";

      clone.querySelector(".card-team-number")!.textContent =
        properties?.typeName || "N/A";

      clone.querySelector(".card-left-label")!.textContent = "Venue";
      clone.querySelector(".card-left-value")!.textContent =
        properties?.venue || "N/A";

      clone.querySelector(".card-right-label")!.textContent = "Date";
      clone.querySelector(".card-right-value")!.textContent =
        getDateString(
          new Date(properties?.dateStart),
          new Date(properties?.dateEnd),
        ) || "N/A";

      clone
        .querySelector(".card-view-details")!
        .setAttribute(
          "href",
          `https://ftc-events.firstinspires.org/${year}/${properties?.code}`,
        );

      // Create the popup
      new maplibregl.Popup({
        closeButton: false,
        closeOnClick: true,
        className: "popup",
        maxWidth: "none",
      })
        .setLngLat(coordinates)
        .setDOMContent(clone)
        .addTo(map);
    });

    // 6. Change cursor on hover for better UX
    map.on("mouseenter", "teams-layer", () => {
      map.getCanvas().style.cursor = "pointer";
    });
    map.on("mouseleave", "teams-layer", () => {
      map.getCanvas().style.cursor = "";
    });
    map.on("mouseenter", "events-layer", () => {
      map.getCanvas().style.cursor = "pointer";
    });
    map.on("mouseleave", "events-layer", () => {
      map.getCanvas().style.cursor = "";
    });
  });

  function getDateString(startDate: Date, endDate: Date): string {
    const formatter = new Intl.DateTimeFormat(undefined, {
      day: "numeric",
      month: "short",
      year: "numeric",
    });
    return formatter.formatRange(startDate, endDate);
  }
</script>

<style is:global>
  .maplibregl-popup-content {
    padding: 0 !important;
    background: transparent !important;
    box-shadow: none !important;
  }
</style>
